<div class="header">
    <div>
        <p class="header__random">Random onekdot</p>
    </div>

    <form target="/" method="post">
        <div class="form">
                <input placeholder="Заголовок" name="title" class="text__title"></input>
                <textarea placeholder="Описание" name="description" class="text__title ml"></textarea>
            <button type="submit">Создать</button>
        
        </div>
    </form>
</div>


<div class="boloto">
    {{#each papers}}
        <div class="news">
            <div>
            <h1 class="news__title">{{this.title}}</h1>
            <p class="news__description">{{this.description}}</p>
            </div>
            <p class="news__date">
                Создана в: {{this.date}}
            </p>
        </div>
    {{/each}}   
</div>